{% load static %}
<!DOCTYPE html>
<html lang="en" class="overflow-scrol scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gumisofts</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href={%static "css/output.css"%}>
    {% comment %} Fav Icon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href={%static "images/apple-touch-icon.png"%}>
    <link rel="icon" type="image/png" sizes="32x32" href={%static "images/favicon-32x32.png"%}>
    <link rel="icon" type="image/png" sizes="16x16" href={%static "/favicon-16x16.png"%}>
    <link rel="manifest" href="/static/site.webmanifest">
  </head>
  <body class="" id='body'>
    <script>
        
      window.onload = function () {
        setTimeout(function() {
            document.getElementById("body").style.display = "";        
        }, 400);
    }
    </script>
    {% block content %}
    {% endblock content %}

    <script src={%static 'js/script.js'%} async defer></script>
  </body>
</html>